@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-anonymous: "Anonymous Pro", monospace;
  
}